/* nav.css */

.navbar {
    background-color: #1a1a1a;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 150px; /* Adjust the logo size as needed */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    color: #ff9900; /* Highlight color on hover */
  }
  
  /* Additional styling for a clean user icon */
  .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .user-icon:hover {
    background-color: #ff9900; /* Highlight color on hover */
  }
  