
.task-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4b0082; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}

.task-form div {
  margin-bottom: 15px;
}

.task-form label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff; 
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ffffff; 
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff; 
  color: purple;
}

.task-form button {
  background-color: #ffffff; 
  color: purple; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #d1ceff; 
}

/* Media queries for responsive design */

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .task-form {
      margin-top: 15%;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .task-form {
      margin-top: 10%;
  }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 993px) {
  .task-form {
      margin-top: 5%;
  }
}
